{% extends "template.html" %}

{% load crispy_forms_tags %}

{% block ptitle %}Image Cutouts : FRAM Archive{% endblock %}

{% block title %}Image cutouts from FRAM archive{% endblock %}

{% block content %}

  <!-- Cutouts -->

  {% crispy form %}

  <div class="form-text text-muted">
    It will return cutouts of all object images containing the specified sky point, with the size defined by the search radius.<br>
    <i>Max Dist</i> parameter defines the maximal acceptable distance from frame center, and may be useful to skip the images where cutout center is in the frame corners where distortions are significant.
  </div>

{% endblock %}
