{% extends "template.html" %}

{% load el_pagination_tags %}
{% load filters %}

{% block ptitle %}Images : FRAM Archive {% endblock %}

{% block title_div %}
  <h1>
  {{ images.count }} images
  </h1>

  <p  class="mb-4">
  {% if request.GET.sr %}
    within <b>{{ request.GET.sr|floatformat:"-4" }}</b> deg around RA <b>{{ request.GET.ra|floatformat:4 }}</b> Dec <b>{{request.GET.dec|floatformat:4 }}</b>
  {% elif request.GET.ra or request.GET.dec %}
    covering RA <b>{{ request.GET.ra|floatformat:4 }}</b> Dec <b>{{request.GET.dec|floatformat:4 }}</b>
  {% endif %}
  </p>

{% endblock %}

{% block content %}

{% include 'images_filter.html' %}

{% if not request.GET.singlepage %}
  {% paginate 10 images %}
{% endif %}
  <table class="table table-striped table-sm">
    <tr>
      <th>Id</th>
      <th>Time, UT</th>
      <th>Night</th>
      <th>Site</th>
      <th>CCD</th>
      <th>Filter</th>
      <th>Type</th>
      <th>Exposure</th>
      <th>Target</th>
      <th>RA Dec</th>
      <th style="width: 140px">Preview</th>
      <!-- <th></th> -->
    </tr>
    {% for image in images %}
      <tr>
        <td><a href="{% url 'image_details' image.id %}" title="View image details" rel="nofollow"><i class="fa fa-file-image-o"></i> {{ image.id }}</a></td>
        <td>{{ image.time|date:"Y-m-d H:i:s" }}</td>

        {% with text="night="|addstr:image.night %}
          <td><a href="?{{ request.GET|GET_remove:"night"|GET_remove:"night1"|GET_remove:"night2"|GET_append:text|GET_urlencode }}" rel="nofollow">{{ image.night }}</a></td>
        {% endwith %}

        {% with text="site="|addstr:image.site %}
          <td><a href="?{{ request.GET|GET_remove:"site"|GET_append:text|GET_urlencode }}" rel="nofollow">{{ image.site }}</a></td>
        {% endwith %}

        <td>{{ image.ccd }} / {{ image.serial }}</td>

        {% with text="filter="|addstr:image.filter %}
          <td><a href="?{{ request.GET|GET_remove:"filter"|GET_append:text|GET_urlencode }}" rel="nofollow">{{ image.filter }}</a></td>
        {% endwith %}

        {% with text="type="|addstr:image.type %}
          <td><a href="?{{ request.GET|GET_remove:"type"|GET_append:text|GET_urlencode }}" rel="nofollow">{{ image.type }}</a></td>
        {% endwith %}

        <td>{{ image.exposure }}{% if image.binning != '1x1' %} / {{ image.binning }}{% endif %}</td>

        {% with text="target="|addstr:image.target %}
          <td><a href="?{{ request.GET|GET_remove:"target"|GET_append:text|GET_urlencode }}" title="{{ image.keywords.OBJECT }}" rel="nofollow">{{ image.target }}</a></td>
        {% endwith %}

        <td title="Alt/Az {{ image.keywords.TEL_ALT }} {{ image.keywords.TEL_AZ }}">{{ image.ra|floatformat:3 }} {{ image.dec|floatformat:3 }}</td>

        <td>
          <a href="{% url 'image_details' image.id %}" title="View image details" rel="nofollow">
            <img src="{% url 'image_preview' image.id %}" class="img-thumbnail">
          </a>
        </td>
        <!-- <td><a href="{% url 'image_download' image.id %}" title="Download FITS"><i class="fa fa-download"></i> </a></td> -->
      </tr>
    {% endfor %}
  </table>

{% if not request.GET.singlepage %}
  {% show_pages %}
{% endif %}

{% endblock %}
