{% extends "template.html" %}

{% load crispy_forms_tags %}

{% block ptitle %}Search : FRAM Archive{% endblock %}

{% block title %}Search FRAM archive{% endblock %}

{% block content %}

  <!-- Full images -->

  {% crispy form %}

  <div class="form-text text-muted">
    It will search the database of all images - object frames, dark/flat calibrations etc.<br>
    If the position and radius are specified, only images with their centers located within this distance from query position are returned.<br>
  </div>

{% endblock %}
